<section class="card">
  <a href="/animals/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{breed}}">
      <p>{{age}}</p>
      <p>{{breed}}</p>
    
    </div>
  </a>
</section>