<section class="container">
  <section class="painting">
    <img src="/images{{animals.filename}}" alt="{{animals.name}}" width="400px" style="display:block; margin:auto; padding: 10px">
    <div class="painting-details">
      <h3> {{animals.name}}</h3>
      <p>Age: {{animals.age}}</p>
      <p>Breed: {{animals.breed}}</p>
      <p>Size: {{animals.size}}</p>
      <p>Description: {{animals.description}}</p>
      <p>Availibility: {{animals.available}}</p>
    </div>
  </section>
</section>