<section class="container">
  <section class="painting">
    <img src="/images{{animals.filename}}" alt="{{animals.name}}">
    <div class="painting-details">
      <h3> {{animals.name}}</h3>
      <p>AGE: {{animals.age}}</p>
      <p>BREED: {{animals.breed}}</p>
      <p>SIZE: {{animals.size}}</p>
      <p>DESCRIPTION: {{animals.description}}</p>
      <p>AVAILABLE: {{animals.available}}</p>
    </div>
  </section>
</section>