<!-- We are not counting the number of times we visit this page -->
<!-- But we are showing the number of times we visited the homepage -->
<section class="container">
  <h3></h3>
  <section class="painting">
    <img src="/images/{{animals.filename}}" alt="{{animals.name}}">
    <div class="painting-details">
      <h3>name: {{animals.name}}</h3>
      <p>age: {{animals.age}}</p>
      <p>breed: {{animals.breed}}</p>
      <p>size: {{animals.size}}</p>
      <p>description: {{animals.description}}</p>
      <p>available: {{animals.available}}</p>                
    </div>
  </section>
</section>