<section class="container">
  <!-- We are not counting the number of times we visit this page -->
  <!-- But we are showing the number of times we visited the homepage -->
  <h3>Number of times you've visited the homepage: {{countVisit}}</h3>

  <h3 class="gallery-name">{{pets.name}}</h3>
  <h4>{{pets.title}}</h4>
  <h4>{{pets.description}}</h4>
   <img src="/images/animals/{{filename}}" alt="{{pets.name}}">
  <section class="flex-row justify-center">
    {{#each pets.animals as |animal|}}
    {{> animals-details}}
    {{/each}}
  </section>
</section>